* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.mr-auto {
    margin-right: auto;
}

/* NAV STYLE */
.cover {
    width: 95%;
    height: 100vh;
    background-image: url("../img/cover.jpg");
    background-size: cover;
    overflow: hidden;
}

.nav {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.title {
    font-weight: bolder;
    font-size: 1.9rem;
    background: linear-gradient(to left, #343a40, #dc3545);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-bar {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 10px;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #dc3545;
}

/* CARDS STYLE */
.container {
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    height: 300px;
    width: 200px;
    background-size: cover;
    margin-left: 30px;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card:nth-child(1) {
    background-image: url(../img/mariage.jpg);
}

.card:nth-child(2) {
    background-image: url(../img/vase.jpg);
}

.card:nth-child(3) {
    background-image: url(../img/offrire.jpg);
}

.card:hover {
    transform: scale(1.25);
    transition: 0.5s;
}

.card h3 {
    color: #111;
    font-weight: bolder;
}

.btn {
    display: inline-block;
    color: #fff;
    padding: 0.7rem;
    background-color: #252522;
}

.btn:hover {
    box-shadow: -0.0625rem 0 0.625rem 0 #111;
    transition: 0.5s;
}